*{
   
    font-family: 'Poppins';
    background-color: #04090F;

}
/* Hero section */
#hero-section{


}

/* A developer in the making */

h1{

font-family: 'Poppins';
font-weight: 800;
font-size: 62px;
line-height: 98px;
text-align: center;
color: #FFFFFF;

}
h2{
    /* { Erick kirui } */
font-family: 'Poppins';
font-weight: 700;
font-size: 65px;
text-align: center;
margin: 0px;
color: #85ED90;


}

p{

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 26px;
line-height: 45px;
text-align: center;
color: #FFFFFF;
margin-top: -48px;

}


/* navigation menu */
nav {
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    background-color: #85ED90;
    border-radius: 10px;
    padding: -1px 10px 10px 10px;
  }

nav ul {
    list-style: none;
    padding: 0;
    margin-top: 20px;
    background-color: #85ED90;
  }
  
  nav li {
    display: inline-block;
  }
  
  nav a {
    display: block;
   padding: 0.5em;
    text-decoration: none;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 15px;
    background-color: #85ED90;;

  }

  nav li.brand {
    margin-right: 337px;
  }